@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #444;
  font-family: 'Passions Conflict', 'cursive';
  color: #fff;
}

header { 
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.h1-header {
  font-size: 64px;
  
}

header p {
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: #000;
  border-radius: 15px;
}

figure figcaption { 
  display: flex;
  justify-content: center;  
  border-radius: 0px 0px 15px 15px;
  background-color: #fff;
  font-size: 20px;
  width: inherit;
  color: #000;
}

#img-css {
  width: auto;
  height: 450px;
}

.conteiner1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

#subtexto {
  font-size: 45px;
}

.conteiner1 p {
  font-size: 25px;
}

.container2 {
  margin: auto;
}

#subtexto2{
  font-size: 45px;
}

.container2 ul {
  font-size: 25px;  
}

.container2 ul a:hover {
  color: #000;
}

hr {
  width: 350px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

footer p,a{
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #000;
}
